body {
    background-color: rgb(247, 237, 249);
    font-family: Arial, sans-serif;    
}

h1{
    text-align: center;
    margin-top: 2%;   
}

ul{
    margin: 0%;
    padding: 0%;
    display:flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    background-color: rgba(25, 119, 243, 1);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration:none;
    transition:all 0.5s ease-in-out;
    color: rgb(219, 214, 214);
}

a:hover{
    background-color: rgb(7, 140, 185);
    color: rgb(16, 16, 16);
}

.twitter{
    background-color:rgba(0, 174, 239, 1);
}

.instagram{
    background-image: linear-gradient(to bottom right, rgba(70, 100, 202, 1), rgba(241, 77, 90, 1),rgba(255, 202, 82, 1),rgba(194, 60, 147, 1));
}