h1{
    font-size: 36px;
    color:rgb(213, 13, 13);
    margin-top:0;    
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: blue;
}

body{
    background-image:linear-gradient(to bottom, rgb(207, 209, 209), rgb(189, 197, 197));
    font-family: arial, sans-serif;
    padding:0;
    margin:0;
}

.container{
    margin:0 auto;
    background-color: yellow;
    width: 80%;
    padding: 20px;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        padding: 10px;
    }

    h1{
        font-size:20px;
    }

    p{
        font-size:16px;
    }
}